<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: 'navbar-item' %>
      <%= link_to 'Pages', pages_path, class: 'navbar-item' %>
      <%= link_to 'Elements', elements_path, class: 'navbar-item' %>
    </div>
  </div>
</nav>